* {
    box-sizing: border-box;
    font-family: 'IM Fell English', serif;
}

body {
    background-color: #fff;
}

div.holder {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

canvas.secondary {
    width: 300px;
    height: 300px;
}

div.text {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 32px;
    width: 100%;
    line-height: 32px;
    font-size: 20px;
    text-align: center;
}

div.waitDiv {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: center;
    color: #543;
    padding: 30px;
    border: 1px dashed #aaa;
    line-height: 1.8;
}

div.readyDiv {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: center;
    color: #543;
    padding: 30px;
    line-height: 1.8;
}

a {
    color: #448;
}

button {
    padding: 12px 20px 12px 20px;
    font-family: serif;
    font-size: 20px;
    margin-top: 20px;
}

audio {
    position: absolute;
    visibility: hidden;
}

div#content {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #fff !important;
}
